/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}
.intro p{
    color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Overwriting styles for control arrows for slides
* --------------------------------------- */
.controlArrow.prev {
    left: 50px;
}
.controlArrow.next{
    right: 50px;
}

#footer{
    bottom: 0px;
}
.boardsection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.boards{
    min-width: 550px;
    max-width: 550px;
    padding: 30px;
    height: 400px;
    background: #7eeec5;
    border-radius: 20px;
}
.boardtitle{
    margin: 0px;
    font-size: 25px;
    color: rgb(38, 49, 46);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.boardtitle a{
    color: white;
}
.last_sentence{
    margin-top: 20px;
    padding: 10px 0;
    border-top: solid 1px rgb(78, 78, 78);
    border-bottom: solid 1px rgb(78, 78, 78);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sen_date{
    width: 60px;
    color: rgb(121, 115, 204);
    font-weight: bold;
}
.sen_date_top{
    font-size: 14px;
}
.sen_date_bottom{
    font-size: 42px;
}
.sen_content{
    width: 440px;
    text-align: left;
}
.sen_title{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    color: #1d1919;
}
.sent{
    height: 40px;
    margin:0;
    margin-top: 10px;
    font-size: 14px;
    overflow: hidden;
    overflow-wrap: break-word;
    color: #1d1919;
}
.sentence{
    height: 220px;
    margin-top: 20px;
    text-align: left;
}
.sentence ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sentence ul li a{
    color: black;
}
.sentence li{
    list-style: circle;
}
.sentitle{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: lighter;
    color: #1d1919;
}
.notnotice{
    width: 100%;
    text-align: center;
}