<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BIAF2023</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage full-screen navigation and sections control menu." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fullscreen,navigation,control arrows, dots" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" type="text/css" href="mainpage/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap5_3_0.css"/>
	<link rel="stylesheet" type="text/css" href="css/header.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="mainpage/css/mainpage.css"/>

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="mainpage/js/scrolloverflow.js"></script>

	<script type="text/javascript" src="mainpage/js/jquery.fullPage.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['firstPage', 'secondPage', '3rdPage', 'footerPage'],
				sectionsColor: [],
				navigation: true,
				navigationPosition: 'left',
				navigationTooltips: ['First page', 'Second page', 'Third and last page', 'footer page']
			});
		});
	</script>

</head>
<body style="background-image:url(mainpage/image/bg5.jpg)">
<div id="header_nav" class="top">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a href="main"><img src="mainpage/image/logo2023(reverse).png" alt=""></a>
            </div>
            <div class="col-6">
               <div id="menu">
                	<div class="row row-cols-4">
						<div class="col"><a href=#><b>BIAF</b></a></div>
						<div class="col"><a href=#><b>행사</b></a></div>
						<div class="col"><a href=#><b>예매</b></a></div>
						<div class="col"><a href=#><b>커뮤니티</b></a></div>
               		</div>
            	</div>
            </div>
            <div class="col">
               <div id="header_nav_sub">
					<a href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><img class="icon_search" src="image/icon_search.png"></a>
                    <a href=#>로그인</a>
                    <a href=#>회원가입</a>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
        	<div class="card card-body">
    		Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
 			 </div>
        </div>
    </div>
</div>

<div id="fullpage">
	<div class="section " style="background-image:url(image/bg1.jpg)" id="section0">
		<div class="intro">
			<h1>Navigation dots</h1>
			<p>An easy and beautiful way to navigate throw the sections</p>
		</div>
	</div>
	<div class="section" style="background-image:url(image/bg2.jpg)" id="section1">
	    <div class="slide" style="background-image:url(image/bg3.jpg)"id="slide1">
			<div class="intro">
				<h1>Clickable</h1>
				<p>
					You can even click on the navigation and jump directly to another section.
				</p>
			</div>
		</div>

	    <div class="slide" style="background-image:url(image/bg4.jpg)" id="slide2">
			<h1>Slide 2</h1>
		</div>

	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Enjoy it</h1>
		</div>
	</div>
	<div id="footer" class="section fp-auto-height">
        <div id="footer-top">
            <div id="footer-top-text">
                <ul class="text-left">
                    <li><a href="#">BIAF소개</a></li>
                    <li>| <a href="#"> 이용약관/저작권</a></li>
                    <li>| <a href="#"> 개인정보취급방침</a></li>
                    <li>| <a href="#"> 이메일 무단수집 거부</a></li>
                    <li>| <a href="#"> 찾아오시는길</a></li>
                </ul>
                <ul class="sns-icon">
                    <li><a href="https://www.instagram.com/biaf.ani/" target="_blank"><img src="image/icon_instagram.png" alt=""></a></li>
                    <li><a href="https://www.facebook.com/ani.biaf" target="_blank"><img src="image/icon_facebook.png" alt=""></a></li>
                    <li><a href="https://www.youtube.com/user/anipisaf" target="_blank"><img src="image/icon_youtube.png" alt=""></a></li>
                </ul>
            </div>        
        </div>
        <div id="footer-bottom">
            <ul class="footer-bottom-logo">
                <li><a href="#"><img src="image/logo_footer_2023.png" alt=""></a>
            </ul>
            <div class="footer-bottom-text">
        		<ul>
                   <li>단체명: BIAF 조직위원회</li>
                   <li>단체장: 서채환</li>
                   <li>고유번호: 130-82-11347</li>
                   <li>통신판매신고번호: 제 2013-경기부천-1186호</li>
                </ul>
                <ul>
                   <li>주소: 14505 경기도 부천시 길주로1 한국만화영상진흥원 비즈니스센터 302호</li>
                </ul>
                <ul>
                   <li>tel:032-325-2061</li>
                   <li>fax:032-325-2072</li>
                   <li>E-mail <a href="mailto:pisaf@biaf.or.kr">pisaf@biaf.or.kr</a></li>
                </ul>
                <ul>
                    <li>Copyrightⓒ2023 BIAF ALL rights reserved.</li>
                </ul>
            </div>
        </div> 
    </div>
</div>
</body>
</html>