<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<th:block layout:fragment="css">
<style>
.index{
        
        max-width: 1024px;
        margin: 0 auto;
        padding: 64px 40px;
    }
</style>
    </th:block>
<div layout:fragment="content">
    <div class="index">
    <h1 style="text-align: center">개인정보취급방침</h1>
    <br><br><br>
        <h3>수집하는 개인정보의 항목 및 수집방법</h3>
가. 수집하는 개인정보의 항목<br>
BIAF는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
- 이름, 주민등록번호, 로그인ID, 비밀번호, 전화번호, 휴대전화번호, 이메일주소, 주소, 소속, 이메일 정보수신여부, 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보
<br><br>
나. 개인정보 수집방법<br>
BIAF는 다음과 같은 방법으로 개인정보를 수집합니다.<br>
- 홈페이지를 통한 통합 회원가입
<br><br>
<h3>개인정보의 수집 및 이용목적</h3>
가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산, 컨텐츠 제공, 특정 맞춤 서비스 제공, 물품배송 또는 청구서 등 발송, 본인인증, 구매 및 요금 결제, 요금추심
<br><br>
나. 회원관리<br>
회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인식별, 불량회원(BIAF 회원이용약관 제2장 제6조~제7조 위반사유로 인한 영구이용정지 및 계약해지 된 영구이용정지 회원)의 부정 이용방지와 비인가 사용방지, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달
<br><br>
다. 신규 서비스 개발 및 마케팅<br>
신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스이용에 대한 통계
<br><br>
<h3>개인정보의 보유 및 이용기간</h3>
이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.<br>
단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
<br><br>
가. BIAF내부 방침에 의한 정보보유 사유
<br><br>
- 부정이용기록<br>
보존 이유 : 부정 이용 방지<br>
보존 기간 : 1년<br><br>

나. 관련법령에 의한 정보보유 사유<br>
상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 BIAF는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경우 BIAFF는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.
<br><br>
- 계약 또는 청약철회 등에 관한 기록<br>
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>
보존 기간 : 5년
<br><br>
- 대금결제 및 재화 등의 공급에 관한 기록<br>
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>
보존 기간 : 5년<br><br>

- 소비자의 불만 또는 분쟁처리에 관한 기록<br>
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>
보존 기간 : 3년<br><br>

- 본인확인에 관한 기록<br>
보존 이유 : 정보통신 이용촉진 및 정보보호 등에 관한 법률<br>
보존 기간 : 6개월<br><br>

- 방문에 관한 기록<br>
보존 이유 : 통신비밀보호법<br>
보존 기간 : 3개월
<br><br>
<h3>개인정보의 공유 및 제공</h3>
BIAF는 이용자들의 개인정보를 "2. 개인정보의 수집 및 이용목적"에서 고지한 범위내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
- 이용자들이 사전에 공개에 동의한 경우<br>
- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
<br><br>
<h3>개인정보에 관한 민원서비스</h3>
BIAF는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.
<br><br>
고객서비스담당 부서: 기획홍보팀<br>
개인정보관리책임자 성명: 정현진<br>
전화번호: 032-325-2061~2<br>
이메일: publicity@biaf.or.kr<br>
<br>
귀하께서는 BIAF의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. BIAF는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
        
        
    </div>
    </div>

</html>