.ex_header{
    width: 100%;
    height: 100px;
    background-image: url("/mainpage/image/bg5.jpg");
    background-size: cover;
}
.ex_img1{
    width: 100px;
    height: 100px;
    size: cover;
}
.link{
    display: flex;
    justify-content:  center;
}
.link a{
    margin-left: 10px;
}
.img{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}