<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<div th:fragment="header">
	
<div id="top">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a href="main"><img th:src="@{/image/logo2023.png}" alt=""></a>
            </div>
            
            <div class="col-6">
               <div id="menu">
                <div class="row row-cols-4">
                    <div class="col"><a href=#><b>BIAF</b></a></div>
                    <div class="col"><a href=#><b>행사</b></a></div>
                    <div class="col"><a href=#><b>예매</b></a></div>
                    <div class="col"><a href=#><b>커뮤니티</b></a></div>
               </div>
                </div>
            </div>
            <div class="col">
               <div id="login">
                    <a href=#>로그인</a>
                    <a href=#>회원가입</a>
                </div>
                
            </div>
        </div>
    </div>
       </div>
    </div>
</html>
