<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="header">
<div id="nav">
    <div id="nav_logo">
        <a href="/ko"><img th:src="@{/image/logo2023(modify).png}" alt=""></a>
    </div>
    <div id="nav_menu">
            <div id="biaf_menu" class="menu_item">
                <a href=#><b>BIAF</b></a>
                <div id="BIAF_menu" class="menu_popup">
                    <ul>
                        <li id="info_" class="menu_item_s"><a href="#">소개</a></li>
                        <li id="goods_" class="menu_item_s"><a href="#">굿즈</a></li>
                        <li id="logo_emot_" class="menu_item_s"><a href="#">로고&이모티콘</a></li>
                    </ul>
                </div>
            </div>
            <div id="event_menu" class="menu_item" >
                <a href=#><b>행사</b></a>
                <div id="Event_menu" class="menu_popup">
                    <ul>
                        <li id="eventhall_info_" class="menu_item_s"><a href="#">행사장안내</a></li>
                        <li id="navigation_" class="menu_item_s"><a href="#">찾아오시는길</a></li>
                        <li id="opening_ceremony_" class="menu_item_s"><a href="#">개막식</a></li>
                        <li id="exhibition_" class="menu_item_s"><a href="#">전시</a></li>
                        <li id="incidental_event_" class="menu_item_s"><a href="#">부대행사</a></li>
                        <li id="contest_" class="menu_item_s"><a href="#">공모전</a></li>
                    </ul>
                </div>
            </div>
            <div id="reservation_menu" class="menu_item">
                <a href=#><b>예매</b></a>
                <div id="Reservation_menu" class="menu_popup">
                    <ul>
                        <li id="ticket_reservation_" class="menu_item_s"><a href="#">티켓예매</a></li>
                        <li id="schedule_" class="menu_item_s"><a href="#">상영시간표</a></li>
                        <li id="ticket_information_"class="menu_item_s"><a href="#">티켓안내</a></li>
                    </ul>
                </div>
            </div>
            <div id="community_menu" class="menu_item">
                <a href=#><b>커뮤니티</b></a>
                <div id="Community_menu" class="menu_popup">
                    <ul>
                        <li id="notice_"class="menu_item_s"><a href="#">공지사항</a></li>
                        <li id="qna_" class="menu_item_s"><a href="#">Q&A</a></li>
                        <li id="freeboard" class="menu_item_s"><a href="#">자유게시판</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <div id="nav_sub">
        <a href="#" id="search_btn"><img id="icon_search" src="/image/icon_search.png" widht="22" height="22"></a>
        <a id="login" class="sub_nav" href='/ko/login'>로그인</a>
        <a id="signup" class="sub_nav" href='/ko/signup'>회원가입</a>
    </div>
</div>
<div id="search">
    <input type="text" id="search_input" name="search" required placeholder="Search" title="검색어를 입력하세요">
    <button type="button" class="search_btn" onclick="searchform(search_input.value);"><img src="/image/icon_search.png" widht="26" height="26"></button>
</div>
</div>
</html>
