<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header"  class="header">
<div id="nav">
<!-- 로고 부분 -->
    <div id="nav_logo">
        <a href="/ko"><img th:src="@{/image/logo2023(modify).png}" alt=""></a>
    </div>
    <!--  메뉴 부분 -->
    <div id="nav_menu">
    <!-- 상위 메뉴 부분 -->
            <div id="biaf_menu" class="menu_item">
                <a href=#><b>BIAF</b></a>
                <!-- BIAF 하위 메뉴 -->
                <div id="BIAF_menu" class="menu_popup">
                    <ul>
                        <li id="info_" class="menu_item_s"><a href="#">소개</a></li>
                        <li id="goods_" class="menu_item_s"><a href="#">굿즈</a></li>
                        <li id="logo_emot_" class="menu_item_s"><a href="#">로고&이모티콘</a></li>
                    </ul>
                </div>
            </div>
            <!--  상위 메뉴 부분 -->
            <div id="event_menu" class="menu_item" >
                <a href=#><b>행사</b></a>
                <!-- 행사 하위 메뉴 -->
                <div id="Event_menu" class="menu_popup">
                    <ul>
                        <li id="eventhall_info_" class="menu_item_s"><a href="#">행사장안내</a></li>
                        <li id="navigation_" class="menu_item_s"><a href="#">찾아오시는길</a></li>
                        <li id="opening_ceremony_" class="menu_item_s"><a href="#">개막식</a></li>
                        <li id="exhibition_" class="menu_item_s"><a href="#">전시</a></li>
                        <li id="incidental_event_" class="menu_item_s"><a href="#">부대행사</a></li>
                        <li id="contest_" class="menu_item_s"><a href="#">공모전</a></li>
                    </ul>
                </div>
            </div>
            <!-- 상위 메뉴 부분 -->
            <div id="reservation_menu" class="menu_item">
                <a href=#><b>예매</b></a>
                <!-- 예매 하위 메뉴 -->
                <div id="Reservation_menu" class="menu_popup">
                    <ul>
                        <li id="schedule_" class="menu_item_s"><a href="#">현재상영작</a></li>
                        <li id="ticket_reservation_" class="menu_item_s"><a href="#">티켓예매</a></li>
                        <li id="ticket_information_"class="menu_item_s"><a href="#">티켓안내</a></li>
                    </ul>
                </div>
            </div>
            <!-- 상위 메뉴 부분 -->
            <div id="community_menu" class="menu_item">
                <a href=#><b>커뮤니티</b></a>
                <!-- 커뮤니티 하위 메뉴 부분 -->
                <div id="Community_menu" class="menu_popup">
                    <ul>
                        <li id="notice_"class="menu_item_s"><a href="#">공지사항</a></li>
                        <li id="qna_" class="menu_item_s"><a href="#">Q&A</a></li>
                        <li id="freeboard_" class="menu_item_s"><a href="#">자유게시판</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <!-- 로그인 부분 -->
    <div id="nav_sub">
        <a href="#" id="search_btn"><img id="icon_search" src="/image/icon_search.png" widht="22" height="22"></a>
        <ul>
            <li sec:authorize='isAnonymous()'>
            <!-- 비로그인시 -->
	        <a id="login_" class="sub_nav" href='/ko/login' ><img class="header_icon" src="/image/icon_login.png" title="로그인"></a>
        </li>
        <li sec:authorize='isAnonymous()'>
	        <a id="signup_" class="sub_nav" href='/ko/terms'><img class="header_icon" src="/image/icon_signup.png" title="회원가입"></a>
	    </li>
        <li sec:authorize='isAuthenticated()'>
            <!-- 로그인시 -->
        	<a id="logout_" class="sub_nav" href='/ko/logout' ><img class="header_icon" src="/image/icon_logout.png" title="로그아웃"></a>
        </li>
        <li sec:authorize="hasAnyAuthority('ROLE_USER')">
			<a id="cart_" class="sub_nav" href="/ko/cart"><img class="header_icon" src="/image/icon_cart.png" title="장바구니"></a>
        </li>
        <li sec:authorize="hasAnyAuthority('ROLE_USER')">
			<a id="mypage_" class="sub_nav" href="/ko/mypage/{memberId}"><img class="header_icon" src="/image/icon_mypage.png" title="마이페이지"></a>
        </li>
        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
			<a id="admin_"class="sub_nav" href="/ko/admin"><img class="header_icon" src="/image/icon_admin.png" title="관리자페이지"></a>
		</li>
        <!-- 아이콘 출처 https://www.flaticon.com/kr/ -->
        </ul>
    </div>
</div>
<!-- 검색바 부분 -->
<div id="search">
    <input type="text" id="search_input" name="search" required placeholder="Search" title="검색어를 입력하세요">
    <button type="button" class="search_btn" onclick="searchform(search_input.value);"><img src="/image/icon_search.png" widht="26" height="26"></button>
</div>
</div>
</html>
