
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BIAF 2023. 10.20 ~ 24 부천국제애니메이션페스티벌</title>
<link rel="stylesheet" type="text/css" href="firstpage/css/firstpage.css" />
</head>

<body>
<div id="wrap">
    <div class="mainTitle">
        <div class="inner">
            <picture>
                <source media="(max-width:720px)" srcset="mainpage/image/bg.jpg" />
                <img src="firstpage/image/lg_intro_2023.png" alt="25 BIAF 2023. 10.20~10.24. 부천국제애니메이션페스티벌">
            </picture>
            <ul class="date">
                <li><b>D-237</b></li>
                /
                <li><span>2023.10.20(금) ~ 24(화)</span></li>
            </ul>
            <ul class="lang">
                <li><a href="/ko"><b>한국어</b></a></li>
                <!-- /
                <li><a href="#"><b>ENGLISH</b></a></li> -->
            </ul>
        </div>
        <div class="mainArt">
            <img src="firstpage/image/bg_intro2022.jpg">
        </div>
    </div>
	<footer id="footer">
	   <div class="footerWrap">
		<ul class="util">
			<li><a href="https://www.instagram.com/biaf.ani" target="_blank"><img src="firstpage/image/icon_instagram(dark).png" alt="MOBILE"></a></li>
			<li><a href="https://www.facebook.com/ani.biaf" target="_blank"><img src="firstpage/image/icon_facebook(dark).png" alt="페이스북"></a></li>
			<li><a href="https://www.youtube.com/user/anipisaf" target="_blank"><img src="firstpage/image/icon_youtube(dark).png" alt="유튜브"></a></li>
		</ul>
		   <p class="copyright">Copyrightⓒ2023 BIAF ALL rights reserved.</p>
		</div>
	</footer>
</div>
</body>
</html>