<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BIAF2023</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage full-screen navigation and sections control menu." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fullscreen,navigation,control arrows, dots" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" type="text/css" href="/mainpage/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="/mainpage/css/header.css"/>
	<link rel="stylesheet" type="text/css" href="/mainpage/css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="/mainpage/css/mainpage.css"/>
	<link rel="stylesheet" type="text/css" href="/mainpage/css/quickmenu.css"/>
	
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="mainpage/js/scrolloverflow.js"></script>
	<script type="text/javascript" src="mainpage/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="/mainpage/js/mainpage.js"></script>
	<script type="text/javascript" src="/js/search.js"></script>
	<script type="text/javascript" src="/js/footer.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['firstPage', 'secondPage', '3rdPage', 'footerPage'],
				sectionsColor: [],
				navigation: true,
				navigationPosition: 'left',
				navigationTooltips: ['First page', 'Second page', 'Third and last page', 'footer page'],
				slidesNavigation: true,
				afterSlideLoad: function( anchorLink, index, slideAnchor, slideIndex){
        var loadedSlide = $(this);
        var totalItems = loadedSlide.siblings().length;
        var numContainer = loadedSlide.closest('.fp-section').find('.num');
        numContainer.html("0" + slideIndex + ' / ' + totalItems);
    }
			});
		});
	</script>

</head>
<body style="background-image:url(mainpage/image/bg5.jpg)">
<!-- 상단 헤더 부분 -->
<div class="header"></div>

<!-- 분문 부분 -->
<div id="fullpage">
<!-- 첫번째 영역 -->
	<div class="section" id="section0" th:if="${!#lists.isEmpty(bannerlist)}">
		<div class="slide" id="slide1" th:each="banner : ${bannerlist}" data-anchor="slide1">
			<div class="intro bannerimg">
				<img th:src="${banner.imgUrl}">
			</div>
		</div>
		<div class="fp-slidesNav bottom"></div>
	</div>
	<div class="section" id="section0" th:unless="${!#lists.isEmpty(bannerlist)}">
		<div class="intro">
			<h1>배너가 없습니다.</h1>
		</div>
	</div>
	<!-- 두번째 영역 -->
	<div class="section" id="section1">
		<div class="movie_list">
			<div class="intro">
				<h1>영화들</h1>
			</div>
			<div class="a movie_border">
				<div class="movie_img movie_border">
					<img class="movieimg">
				</div>
				<div class="movie_lists movie_border">
					<div class="movieNm movie_border">
						<div class="titles">
							<div class="moviegrade"></div>
							<div class="movieNm_title"></div>
						</div>
						<div class="moviedetail"><a th:href="@{/ko/reservation/detail/}">+</a></div>
					</div>
					<div class="movielist movie_border">
						<ul>
							<li class="movies" th:each="movie : ${movielist}">
								<th:block th:if="${#strings.substring(movie.grade,0,2) == '전체'}">
									<div class="gradecolor" th:text="${#strings.substring(movie.grade,0,2)}" style="background-color: #0f9c1a";></div>
								</th:block>
								<th:block th:if="${#strings.substring(movie.grade,0,2) == '12'}">
									<div class="gradecolor" th:text="${#strings.substring(movie.grade,0,2)}" style="background-color: #0e55c0";></div>
								</th:block>
								<th:block th:if="${#strings.substring(movie.grade,0,2) == '15'}">
									<div class="gradecolor" th:text="${#strings.substring(movie.grade,0,2)}" style="background-color: #ae08bd";></div>
								</th:block>
								<th:block th:if="${#strings.substring(movie.grade,0,2) == '19'}">
									<div class="gradecolor" th:text="${#strings.substring(movie.grade,0,2)}" style="background-color: #b80909";></div>
								</th:block>
								<a class="movie" th:text="${movie.movieNm}"></a>
								<input class="movielink" type="hidden" th:value="${movie.id}">
								<input class="movieimgUrl" type="hidden" th:value="${movie.imgUrl}">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 세번째 영역 -->
	<div class="section" id="section2">
		<div class="boardsection">
		<div class="noticeboard boards">
			<p class="boardtitle">공지사항<a href="/ko/notice">+</a></p>
			<div class="last_sentence" th:if="${lnotnotice != 1}">
				<div class="sen_date">
					<div class="sen_date_top" th:text="${last_datet}"></div>
					<div class="sen_date_bottom" th:text="${last_dateb}"></div>
				</div>
				<div class="sen_content">
					<a th:href="@{/ko/notice/detail/{id}(id=${last_notice.id})}">
					<p class="sen_title" th:text="${last_notice.notice_title}"></p>
					<p class="sent" th:text="${last_notice.notice_content}"></p>
					</a>
				</div>
			</div>
			<div class="last_sentence" th:unless="${lnotnotice != 1}">
				<div class="notnotice">
					공지사항이 없습니다
				</div>
			</div>
			<div class="sentence" th:if="${notnotice != 1}">
				<ul><li class="sentitle" th:each="notice : ${noticeDto}">
						<a th:href="@{/ko/notice/detail/{id}(id=${notice.id})}" th:text="${notice.notice_title}"></a>
					</li></ul>
			</div>
			<div class="sentence" th:unless="${notnotice != 1}">
					<div class="notnotice">
					공지사항이 없습니다.
					</div>
			</div>
		</div>
		<div class="freeboard boards">
			<p class="boardtitle">자유게시판<a href="/ko/freeboard">+</a></p>
			<div class="last_sentence" th:if="${lnotnotice != 1}">
				<div class="sen_date">
					<div class="sen_date_top" th:text="${last_datet}"></div>
					<div class="sen_date_bottom" th:text="${last_dateb}"></div>
				</div>
				<div class="sen_content">
					<a th:href="@{/ko/notice/detail/{id}(id=${last_notice.id})}">
					<p class="sen_title" th:text="${last_notice.notice_title}"></p>
					<p class="sent" th:text="${last_notice.notice_content}"></p>
					</a>
				</div>
			</div>
			<div class="last_sentence" th:unless="${lnotnotice != 1}">
				<div class="notnotice">
					공지사항이 없습니다
				</div>
			</div>
			<div class="sentence" th:if="${notnotice != 1}">
				<ul><li class="sentitle" th:each="notice : ${noticeDto}">
						<a th:href="@{/ko/notice/detail/{id}(id=${notice.id})}" th:text="${notice.notice_title}"></a>
					</li></ul>
			</div>
			<div class="sentence" th:unless="${notnotice != 1}">
					<div class="notnotice">
					공지사항이 없습니다.
					</div>
			</div>
		</div>
		</div>
	</div>
	<!-- 풋터 부분 -->
	<div id="footer" class="section fp-auto-height"></div>
	</div>
<!-- 퀵메뉴 부분 -->
<div class="quickmenu"></div>
</body>
</html>