<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BIAF2023</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage full-screen navigation and sections control menu." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fullscreen,navigation,control arrows, dots" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" type="text/css" href="/mainpage/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="/mainpage/css/header.css"/>
	<link rel="stylesheet" type="text/css" href="/mainpage/css/footer.css"/>
	<link rel="stylesheet" type="text/css" href="/mainpage/css/mainpage.css"/>
	<link rel="stylesheet" type="text/css" href="/mainpage/css/quickmenu.css"/>
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="mainpage/js/scrolloverflow.js"></script>
	<script type="text/javascript" src="mainpage/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="/js/search.js"></script>
	<script type="text/javascript" src="/js/navmenu.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['firstPage', 'secondPage', '3rdPage', 'footerPage'],
				sectionsColor: [],
				navigation: true,
				navigationPosition: 'left',
				navigationTooltips: ['First page', 'Second page', 'Third and last page', 'footer page']
			});
		});
	</script>

</head>
<body style="background-image:url(mainpage/image/bg5.jpg)">
<div class="header">
	<div id="nav">
		<div id="nav_logo">
			<a href="/ko"><img th:src="@{/mainpage/image/logo2023(reverse).png}" alt=""></a>
		</div>
		<div id="nav_menu">
				<div id="biaf_menu" class="menu_item">
					<a href=#><b>BIAF</b></a>
					<div id="BIAF_menu" class="menu_popup">
						<ul>
							<li class="menu_item_s"><a href="#">소개</a></li>
							<li class="menu_item_s"><a href="/ko/goods">굿즈</a></li>
							<li class="menu_item_s"><a href="#">로고&이모티콘</a></li>
						</ul>
					</div></div>
				<div id="event_menu" class="menu_item">
					<a href=#><b>행사</b></a>
					<div id="Event_menu" class="menu_popup">
						<ul>
							<li class="menu_item_s"><a href="#">티켓예매</a></li>
							<li class="menu_item_s"><a href="#">상영시간표</a></li>
							<li class="menu_item_s"><a href="#">티켓안내</a></li>
						</ul>
					</div>
				</div>
				<div id="reservation_menu" class="menu_item">
					<a href=#><b>예매</b></a>
					<div id="Reservation_menu" class="menu_popup">
						<ul>
							<li class="menu_item_s"><a href="#">행사장안내</a></li>
							<li class="menu_item_s"><a href="#">찾아오시는길</a></li>
							<li class="menu_item_s"><a href="#">개막식</a></li>
							<li class="menu_item_s"><a href="#">전시</a></li>
							<li class="menu_item_s"><a href="#">부대행사</a></li>
							<li class="menu_item_s"><a href="#">공모전</a></li>
						</ul>
					</div>
				</div>
				<div id="community_menu" class="menu_item">
					<a href=#><b>커뮤니티</b></a>
					<div id="Community_menu" class="menu_popup">
						<ul>
							<li class="menu_item_s"><a href="#">공지사항</a></li>
							<li class="menu_item_s"><a href="#">Q&A</a></li>
							<li class="menu_item_s"><a href="#">자유게시판</a></li>
						</ul>
					</div>
				</div>
		</div>
		<div id="nav_sub">
			<a href="#" id="search_btn"><img id="icon_search" src="/image/icon_search.png" widht="22" height="22"></a>
			<a href=#>로그인</a>
			<a href=#>회원가입</a>
		</div>
	</div>
	<div id="search">
		<input type="text" id="search_input" name="search" required placeholder="Search" title="검색어를 입력하세요">
		<button type="button" class="search_btn" onclick="searchform(search_input.value);"><img src="/image/icon_search.png" widht="26" height="26"></button>
	</div>
	</div>
</body>
<div id="fullpage">
	<div class="section " id="section0">
		<div class="intro">
			<h1>Navigation dots</h1>
			<p>An easy and beautiful way to navigate throw the sections</p>
		</div>
	</div>
	<div class="section" id="section1">
	    <div class="slide" id="slide1">
			<div class="intro">
				<h1>Clickable</h1>
				<p>
					You can even click on the navigation and jump directly to another section.
				</p>
			</div>
		</div>

	    <div class="slide" id="slide2">
			<h1>Slide 2</h1>
		</div>

	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Enjoy it</h1>
		</div>
	</div>
	<div id="footer" class="section fp-auto-height">
        <div id="footer-top">
			<ul class="text-left">
				<li><a href="#">BIAF소개</a></li>
				<li>| <a href="#"> 이용약관/저작권</a></li>
				<li>| <a href="#"> 개인정보취급방침</a></li>
				<li>| <a href="#"> 이메일 무단수집 거부</a></li>
				<li>| <a href="#"> 찾아오시는길</a></li>
			</ul>
			<ul class="sns-icon">
				<li><a href="https://www.instagram.com/biaf.ani/" target="_blank"><img th:src="@{/image/icon_instagram.png}" alt=""></a></li>
				<li><a href="https://www.facebook.com/ani.biaf" target="_blank"><img th:src="@{/image/icon_facebook.png}" alt=""></a></li>
				<li><a href="https://www.youtube.com/user/anipisaf" target="_blank"><img th:src="@{/image/icon_youtube.png}" alt=""></a></li>
			</ul>
		</div>
	   <div id="footer-bottom">
		   <div class="footer-bottom-logo">
			   <a href="#"><img th:src="@{/image/logo_footer_2023.png}" alt=""></a>
		   </div>
		   <div class="footer-bottom-text">
			  <ul>
			   <li>단체명: BIAF 조직위원회</li>
			   <li>단체장: 서채환</li>
			   <li>고유번호: 130-82-11347</li>
			   <li>통신판매신고번호: 제 2013-경기부천-1186호</li>
			  </ul>
			  <ul>
			   <li>주소: 14505 경기도 부천시 길주로1 한국만화영상진흥원 비즈니스센터 302호</li>
			  </ul>
			  <ul>
			   <li>tel:032-325-2061</li>
			   <li>fax:032-325-2072</li>
			   <li>E-mail <a href="mailto:pisaf@biaf.or.kr">pisaf@biaf.or.kr</a></li>
			   </ul>
			   <ul>
				   <li>Copyrightⓒ2023 BIAF ALL rights reserved.</li>
			   </ul>
		   </div>
	   </div>
    </div>
</div>
<div class="quickmenu">
    <div id="quick_menu_sns">
        <ul>
            <li><a href="https://www.instagram.com/biaf.ani/" target="_blank"><img th:src="@{/image/icon_instagram.png}" alt="" width="28" height="28"></a></li>
            <li><a href="https://www.facebook.com/ani.biaf" target="_blank"><img th:src="@{/image/icon_facebook.png}" alt="" width="28" height="28"></a></li>
            <li><a href="https://www.youtube.com/user/anipisaf" target="_blank"><img th:src="@{/image/icon_youtube.png}" alt="" width="28" height="28"></a></li>
        </ul>
    </div>
    <div id="quick_menu">
        <ul>
            <li><a href="#">예매</a></li>
            <li><a href="#">굿즈</a></li>
            <li><a href="#">오시는길</a></li>
        </ul>
        <ul>
            <li id="top_button"><a href="#">top</a></li>  
        </ul>
    </div>
</div>
</body>
</html>