<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout1}">
<!-- css 추가시 -->
<th:block>
<style>

</style>
</th:block>
<!-- 본문 부분 -->
<div layout:fragment="content">
    <p>입력한 검색어 입니다.</p>
    <hr>
	<p class="search_value"></p>
    <script>
        var search_val = $('.search_value');
        const receivedData = location.href.split('?')[1];
        search_val.append(decodeURI(receivedData));
    </script>
</div>
</html>