<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <link th:href="@{/reservation/css/reservation.css}" rel="stylesheet">
</th:block>

<!-- 본문 부분 -->
<div layout:fragment="content">
    <div class="cont_header"></div>
    <form method="Get" role="form">
        <div class="movie">
            <h1>현재 상영작</h1>
        </div>
<hr>
        <div class="movie-image">

            <div id="first-mv" th:each="movie : ${movieResponseDto}">
                <p hidden th:text="${movie.id}"></p>
                <a class="enter" th:href="@{'/ko/reservation/detail/' + ${movie.id} }">
                    <img th:src="${movie.imgUrl}" width="250" height="347" alt="">
                    <p class="hover_text" th:text="${movie.movieDetail}"></p>
                </a>
                <div id="m_tit"><h1 th:text="${movie.movieNm}"></h1></div>
                <!--     <p th:text="${movie.startDay}"></p>
        <p th:text="${movie.endDay}"></p> -->
        <div id="r_bty">
                <a th:href="@{'/ko/reservation/detail/' + ${movie.id} }">
                    <input class="btn_sty" type="button" value="예매"></a>
                    </div>
            </div>

        </div>
    </form>
</div>

</html>