<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="script">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function kakaopost() {
            new daum.Postcode({
                oncomplete: function (data) {
                    document.querySelector("#postcode").value = data.zonecode;
                    document.querySelector("#address").value = data.address;
                }
            }).open();
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/login/css/button.css">
    <style>
        #wrap {
            width: 100%;
            position: relative;
            margin-bottom: 150px;
            top: 50px;
        }

        #section {
            display: flex;
            justify-content: space-evenly;
        }

        #slide {
            min-width: 1000px;
            top: 0;
            width: 750px;
        }


        .all {
            margin-top: 50px;
        }


        #nb {
            margin-top: 50px;
        }
        .slidea{
            max-width: 600px;
            margin: 0 auto;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="cont_header"></div>
    <div id="wrap">
        <div id="section">
            <div id="sidenav">
            </div>
            <div id="slide">
                <div class="slidea">
                <h4>회원정보</h4>
                <h1>나의 회원정보</h1>



                <form method="post" action="#" role="form" th:object="${memberFormDto}">
                    <div class="all">
                        <table>
                            <tr>
                                <td>
                                    <p>이메일</p>
                                </td>
                                <td><input type="email" name="memberEmail" th:field="*{memberEmail}" readonly></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>비밀번호</p>
                                </td>
                                <td><input type="password" id="pw" name="memberPassword"></td>
                            </tr>
                            <!-- <tr>
					<td><p>비밀번호 확인</p></td>
					<td><input type="password" id="pw" name="memberPassword"></td>
				</tr> -->
                            <tr>
                                <td>
                                    <p>이름</p>
                                </td>
                                <td><input type="text" name="memberName" th:field="*{memberName}"></td>
                            </tr>
                            <!-- <tr>
					<td><p>성별</p></td>
					<td>
					<input type="radio" name="memberLoc">남자 
					    <input type="radio" name="memberLoc">여자
					</td>
				</tr> -->
                            <tr>
                                <td>
                                    <p>전화번호</p>
                                </td>
                                <td><input type="tel" name="memberTel" pattern="\d{3}-\d{3,4}-\d{4}"
                                        th:field="*{memberTel}"></td>
                            </tr>

                            <tr>
                                <td>
                                    <p>주소</p>
                                </td>
                                <td><input type="text" size="10" name="postcode" id="postcode" placeholder="우편번호"
                                        readonly="readonly" onclick="kakaopost()" th:field="*{postcode}">
                                    <input type="button" onclick="kakaopost()" value="우편번호 찾기">
                                    <br> <input type="text" name="memberAddress" id="address" placeholder="도로명주소"
                                        readonly="readonly" onclick="kakaopost()" th:field="*{memberAddress}">
                                    <input type="text" name="wRestAddress" placeholder="나머지 주소"
                                        th:field="*{wRestAddress}">
                                </td>
                            </tr>
                        </table>
                        <div id="nb">
                            <button type="submit" class="btn_order">수정하기</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

</html>