/* 이미지 사이즈 예시 태그 */
.ex_img1{
    width: 100px;
    height: 100px;
    size: cover;
}
.img{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/* javascript 용 링크 */
.link{
    display: flex;
    justify-content:  center;
}
.link a{
    margin-left: 10px;
}
/* modal 예시 태크 */
.modal_ex{
	width: 200px;
	height: 100px;
	background: yellow;
	justify-content: center;
	display: none;
}
.modal_ex2{
	width: 200px;
	height: 100px;
	background: yellow;
	justify-content: center;
	display: none;
}