<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout1}">

<link th:href="@{/goods/main.css}" rel="stylesheet">

<!-- 본문 부분 -->
<div layout:fragment="content">
	<!-- css 추가시 -->
	<style>
		.content_header{
			height: 100px;
			background-image: url("/image/logo2023.png");
			background-repeat: no-repeat;
			text-align:center;
		}
	</style>
	<script>
	
	</script>
	<div class="header content_header">
		<h1>BIAF</h1>
	</div>
	<div>
	<img href="/mainpage/image/bg5.jpg">
	</div>
</div>
</html>